<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
img{
    height: 200px;
    width: 200px;
}

    </style>

    <img src="Lotus.jpg" alt="">
    <img src="img.jpg" alt="">
    <img src="jaipur.jpg" alt="">
    <img src="rose.jpg" alt="">
    <img src="thar.jpg" alt="">
    <img src="jasmine.jpg" alt="">
    <img src="lrann.jpg" alt="">
    <img src="rann.jpg" alt="">
    <img src="Indian Peacock.jpg" alt="">
    <img src="Qutub Minar.jpg" alt="">
    <img src="Marigold.jpg" alt="">
    <img src="taj mahal.jpg" alt="">
</body>
</html>